/* p1 */
section{
    padding: 20px;
    margin: 20px;
    height: 100px;
    width: 400px;
    box-shadow: -3px -3px 3px cyan, 3px 3px 3px gray;
    border-radius: 10px;
    transition: 1s;
}
.translate:hover{
    transform: translate(100px,100px);
}
.translatex:hover{
    transform: translatex(100px);
}
.translatey:hover{
    transform: translatey(100px);
}

/* p2 */
.scale:hover{
    transform: scale(2,2);
}
.scalex:hover{
    transform: scalex(2);
}
.scaley:hover{
    transform: scaley(2);
}

/* p3 */
.rotate:hover{
    transform: rotate(45deg);
}
.rotateX:hover{
    transform: rotateX(180deg);
}
.rotateY:hover{
    transform: rotateY(180deg);
}
/* p4 */
.skew:hover{
    transform: skew(30deg, 20deg);
}
.skewX:hover{
    transform: skewX(20deg);
}
.skewY:hover{
    transform: skewY(20deg);
}
/* p5 */
.matrix1:hover{
    transform: matrix(2,0,0,2,120,300);
}
.matrix2:hover{
    transform: matrix(1,2,-1,1,80,80);
}