@media (max-width: 992px) {
    [class*="col"]{
        width: 100%;
    }
    /* icon */
    .icons{
        text-align: left;
    }

    .icons>b{
        margin: auto;
    }
}

/* Tablet */

@media (min-width: 993px) and (max-width: 1200px) {
    /* Grid */
    .colTab1{
        width: 8.33%;
    }
    .colTab2{
        width: 16.66%;
    }
    .colTab3{
        width: 25%;
    }
    .colTab4{
        width: 33.33%;
    }
    .colTab5{
        width: 41.66%;
    }
    .colTab6{
        width: 50%;
    }
    .colTab7{
        width: 58.33%;
    }
    .colTab8{
        width: 66.66%;
    }
    .colTab9{
        width: 75%;
    }
    .colTab10{
        width: 83.33%;
    }
    .colTab11{
        width: 91.66%;
    }
    .colTab12{
        width: 100%;
    }

    [class*="colTab"]{
        float: left;
        padding: 10px;
    }
}