*{
    margin: 0%;
    padding: 0%;
}

:root{
    --bg-green: #43ba80;
    --bg-orange: #ff521a;
    --txt-brown: #ff522a;
    --bg-brown: #ff522a;
}

/* FLEX */
.container{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    justify-content: center;
    align-items: center
}


@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* BANNER */
.banner{
    background: linear-gradient(rgba(55, 57, 69, 0.8), rgba(55, 57, 69, 0.8)), url(../images/girl.jpg) no-repeat center;
    background-size: 100%;
    padding: 50px;
}
.banner{padding: 50px 100px}
.banner>header>nav>ul{
    list-style: none;
    float: right;
}

.banner>header>nav>ul>li{
    display: inline-block;
    padding: 20px;
}

.banner>header>nav>ul>li>a{
    text-decoration: none;
    color: #fff;
    transition: 1s;
}


.banner>header>nav>ul>li:hover a{
    color:#ff521a;
}
/*.banner>header>nav>ul>li>a:hover{
    background-color: transparent;
}*/

.banner>header>nav>img{
    height: 54px;
}

.banner>header>nav>ul>li:last-child{
    background-color: var(--bg-green);
    /* color: #ccc; */
    border-radius: 10px;
    transition: 1s;
}
.banner>header>nav>ul>li:last-child:hover{
    border: #ccc solid 2px;
    background-color: transparent;
    color: white;
}
.banner>header>nav>ul>li>a:last-child:hover{
    color: #ccc;
}

.banner>section{
    margin-top: 100px;
    width: 60%;
}

.banner>section>h1 .business>h1{
    color: #fff;
    font-size: 50px;
}

.banner>section>h1>span{color: var(--txt-brown);}
.banner>section:hover{
    color: #fff;
}


.banner>section>h1+hr{
    width: 100px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
}

.banner>section>p{
    color: #fff;
    text-align: justify;
}

.banner>section>h1, .banner>section>p, .banner>section>button{
    margin: 20px auto;
}

.banner>section>button,
.business>div>button,
.aboutus>.container>section:last-child>button{
    padding: 10px 20px;
    border: 2px solid transparent;
    color: #fff;
    margin-right: 20px;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

.banner>section>button:nth-child(3),
.business>div>button:first-child,
.aboutus>.container>section:last-child>button{
    background-color: var(--bg-green)
}

.banner>section>button:last-child, .business>div>button:last-child{
    background-color: var(--bg-brown)
}

.banner>section>button:hover,
.business>div>button:hover{
    border: 2px solid #fff;
    background-color: transparent;
}


/* ICON SECTION */
.business{
    background: linear-gradient(rgba(55, 57, 69, 0.8), rgba(55, 57, 69, 0.8)), url(../images/girl2.jpg) no-repeat center;
    background-size: 50%;
    padding: 80px;   
}
.iconSection, .aboutus{padding:100px;}
.iconSection>.item{flex:1};
.iconSection>.item>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px auto;
    padding: 20px;
    transition: 0.5s ease-in-out;
    border-top: 3px solid #ff521a;
}
.iconSection{
    background-color: #f4f4f4;
}
.iconSection>.item>div:hover{
    background-color: var(--bg-brown);
    color: #fff;
    border-top: 3px solid #43ba80;
}
.iconSection>.item>div>section>h2{margin: 10px auto;}
[class*="fa-"]{
    color: var(--bg-green);
}

/* BUSINESS */
.business{
    justify-content: space-between;
}
.business>h1>span:first-child{color: #43ba80}
.business>h1>span:last-child{color: #ff521a}

/* ABOUT US */
.aboutus>.container>section:first-child{flex:2;}
.aboutus>.container>section:last-child{
    flex:1;
    line-height: 2;
}
.form{
    background: linear-gradient(rgba(55, 57, 69, 0.8), rgba(55, 57, 69, 0.8)), url(../images/girl4.jpg) no-repeat center;
    background-size: 100%;
    /* background-color: ; */
    padding: 80px;  
}
.aboutus>.container>section:first-child>table{width: 100%; border-spacing: 10px;}
.aboutus>.container>section:first-child>table th,
.aboutus>.container>section:first-child>table td{
    padding: 15px;
    border-bottom: 1px solid #ccc;
}
.aboutus>.container>section:first-child>table tr:first-child th{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
table tr:nth-child(3)>td:first-child,
table tr:nth-child(4)>td:first-child,
table tr:nth-child(5)>td:first-child,
table tr:nth-child(6)>td:first-child{color: #43ba80}

.aboutus>.container>section:last-child>p{margin-bottom: 20px;}
.aboutus>.container>section:last-child>button:hover{
    border: 2px solid #ff521a;
    background-color: transparent;
    color: #43ba80;

}


/* FORM */
.form{
    justify-content: space-around;
    color: #fff;
    /* padding-bottom: 0px; */
    /* padding-top: 0px; */
    height:fit-content
}

.form div form table tr td input{
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: 2px solid   #eee;
    /* border-bottom: 3px solid #eee; */
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    text-shadow: none;
}

.form img{
    z-index: 1;
}

.form div table tr td{
    padding-top: 20px;
    padding-right: 25px;
}

.form .form-btn{
    padding: 10px 20px;
    border: 2px solid transparent;
    color: #fff;
    margin-right: 20px;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    background-color: #ff521a;
}


.form .form-btn:hover{
    border: 2px solid #fff;
    background-color: transparent;
}
.my-form{
    width: 50%;
    background-color: transparent;
    border: #eee solid 2px;
    /* color: white; */
}
.my{
    color: white;
    font-size: 17px;
}