*{
    margin: 0%;
    padding: 0%;
}
header{
    background-color: rgb(8, 96, 211,4);
}
header>nav>img{
    height: 64px;
}
header>nav>ul{
    list-style-type: none;
    float: right;
}
header>nav>ul>li{
    display: inline-block;
    padding: 25px;
}
header>nav>ul>li:hover{
   background-color:rgb(100, 139, 15) ; 
}
header>nav>ul>li>a{
    color: rgb(242, 226, 6);
    text-decoration: none;
}
header>nav>ul>li:hover a{
    color: blue;
}

/* p2.html */
.commonBanner {
    height: 400px;
    text-align: center;
    color: whi  te;
    padding: 20px;
}
.commonBanner>div {
    background-color: rgba(0,0,0,0.3);
    padding: 30px;
    line-height: 2;
    display: inline-block;
    box-shadow: -2px -2px 6px black, 2px 2px 6px black;
}
.commonBanner>div>h1 {
    font-size: 60px;
    text-shadow: -3px -3px 3px black;
}
.banner1 {
    background-color: teal;
}

/* p3.html */
.banner2 {
    background-image: url(../images/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* p4.html */
.banner3 {
    background: linear-gradient( to right, orange,white,green);
}

/* p5.html */
.banner4 {
    background: repeating-linear-gradient(55deg, red,yellow,blue,green,white 50%);
}

/* p6.html */
.banner5 {
    background: url(../images/img3.jpg) no-repeat left , url(../images/img4.jpg) no-repeat top, url(../images/img5.jpg) no-repeat right;
    background-size: contain;
}

/* p7.html */
.banner6 {
    background: linear-gradient(rgba(240, 227, 84,0.2), rgba(74, 255, 176,0.6)), url(../images/desktop.jpeg) no-repeat center;
    background-size: cover;
}


/* p8.html */

/* .background-clip {
    position: absolute; 
    right: 0;
    bottom: 0; 
    min-width: 0;
    min-height: 0;
    width: auto;
    height: auto;
    z-index: -1;
}
.banner7>div {
    opacity: 90%;    
} */

/* p9.html */
.banner8 {
    background: -o-linear-gradient(black,green);
    background: -moz-linear-gradient(black, red);
    background: -webkit-linear-gradient(red, white);
    background: linear-gradient(red, blue, black);
}

* p10.html */
.banner9 {
    /* width: 100%; */
    background-color: #808080;
    text-align: left;
    line-height: 2;
}
.common {
    height: 400px;
    width: 300px;
    border: 2px solid black;
    margin: 30px;
    padding: 30px;
}

.exp-1 {
    background: radial-gradient(red, blue,pink);
}
.exp-2 {
    background: radial-gradient(circle,rgb(208, 248, 8), rgb(10, 220, 239),pink);
}
.exp-3 {
    background: radial-gradient(circle farthest-side at left bottom,yellow, blue,pink);
}
.exp-4 {
    background: repeating-radial-gradient(red 5%, blue 10%,pink 20%);
}

